@using BookStore.Data.ViewModels;
@model LoginVM

@{
    ViewData["Title"] = "Ulogirajte se u Vaš račun";
}

<div class="row">
    <div class="col-md-6">
        <h1> Prijava u korisnički račun </h1>
        <hr />

        @if (TempData["Error"] != null)
        {
            <div class="col-md-12 alert alert-danger">
                <span><b>Žao nam je</b> - @TempData["Error"]</span>
            </div>
        }

        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EmailAddress"></label>
                <input asp-for="EmailAddress" class="form-control" />
                <span asp-validation-for="EmailAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary"> Prijava </button>
            <div>
                <a asp-action="ForgotPassword"> Zaboravili ste lozinku? </a>
            </div>
        </form>
    </div>
    <div class="col-md-6">
        <div class="col-md-5 offset-3">
            <h1> Prijava putem vanjskih računa </h1>
            <hr />
            @{
                if (Model.ExternalLogins.Count == 0)
                {
                    <div> Prijava putem vanjskih računa trenutno nije konfigurirana </div>
                }
                else
                {
                    <form method="post" asp-action="ExternalLogin" asp-route-returnUrl=" @Model.ReturnUrl">
                        <div>
                            @foreach (var provider in Model.ExternalLogins)
                            {
                                <button type="submit" class="btn btn-primary" style="width:auto" name="provider" value="@provider.Name" title="Ulogirajte se pomoću svojega @provider.DisplayName računa">
                                    @provider.DisplayName
                                </button>
                            }
                        </div>
                    </form>
                }
            }
        </div>
    </div>


    @section Scripts{
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }
